/* 전체 페이지가 flex 중앙정렬 되는 문제 제거 */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: block; /* ← 이걸로 바꿔줘 */
}

/* 혹시 기본 배경색 필요하면 여기에 설정 */
#root {
  width: 100%;
  height: 100%;
}